<p id="notice"><%= notice %></p>

<p>
  <b>Library:</b>
  <%= @shelf.library_id %>
</p>

<p>
  <b>Name:</b>
  <%= @shelf.name %>
</p>


<%= link_to 'Edit', edit_shelf_path(@shelf) %> |
<%= link_to 'Back', shelves_path %>
