<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @library.name %>
</p>

<p>
  <b>Address:</b>
  <%= @library.address %>
</p>

<p>
  <b>Telephone number:</b>
  <%= @library.telephone_number %>
</p>


<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
