<h1>Listing checkouts</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Checkin</th>
    <th>User</th>
    <th>Due date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @checkouts.each do |checkout| %>
  <tr>
    <td><%= checkout.item_id %></td>
    <td><%= checkout.checkin_id %></td>
    <td><%= checkout.user_id %></td>
    <td><%= checkout.due_date %></td>
    <td><%= link_to 'Show', checkout %></td>
    <td><%= link_to 'Edit', edit_checkout_path(checkout) %></td>
    <td><%= link_to 'Destroy', checkout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Checkout', new_checkout_path %>
