<p id="notice"><%= notice %></p>

<p>
  <b>Manifestation:</b>
  <%= @item.manifestation_id %>
</p>

<p>
  <b>Shelf:</b>
  <%= @item.shelf_id %>
</p>

<p>
  <b>Item identifier:</b>
  <%= @item.item_identifier %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
