<h1>Listing produces</h1>

<table>
  <tr>
    <th>Patron</th>
    <th>Manifestation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @produces.each do |produce| %>
  <tr>
    <td><%= produce.patron_id %></td>
    <td><%= produce.manifestation_id %></td>
    <td><%= link_to 'Show', produce %></td>
    <td><%= link_to 'Edit', edit_produce_path(produce) %></td>
    <td><%= link_to 'Destroy', produce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Produce', new_produce_path %>
